.spectacle-content{
	height: 720px;
	width: 1280px;
}

.home-button{
	display: none;
}

.home-wrapper{
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px;
}

.home-wrapper:hover .home-button{
	display: inline-block;
}